body{
    margin: 0%;
    font-family: 'Arvo', serif;
font-family: 'Poppins', sans-serif;
background-image:radial-gradient(cyan,purple);
}

h1{
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
}
h3{
    font-size: 20px;
    text-align: left;
}
h2{
    font-size: 30px;
    text-align: left;
}

span{
    color: orange;
}
.para{
    text-align: justify;
}
.Intro{
    display: flex;
    padding-left: 20px;
    background-image: url(images/top-banner-removebg-preview.png);
    background-repeat: no-repeat;
    
}
.Dream{
    display: flex;
    padding-left: 20px;
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.dream-para{
    text-align: left;
}
.Experiences{
    display: flex;
    padding-left: 20px;
    /* background-image: url(images/exp-bg.png);
    background-position:left;
    background-repeat:no-repeat; */
}
.width{
   
    width: 100%;
    margin: 3% 5%;
}
img{
    width: 90%;
}
a{
    text-decoration: none;
    text-align: center;
    color: rgb(255, 255, 255);
    padding: 15px 40px;
    margin: 20%;
    background-image: linear-gradient(orange,darkorange);
    border-radius: 5px;
}
.padding{
    padding-left: 6%;
    border-top: 10px solid;
    border-image: radial-gradient(cyan,purple) 30;
    font-weight: 400;
    font-size: 50px;
    
}
.BoxShadow-1{
    box-shadow:10px 10px 30px black;
    padding: 10px 40px;
    border-left: 10px solid;
    border-image: linear-gradient(cyan,purple) 30;
    border-radius: 15px;
}
.BoxShadow-2{
    box-shadow:10px 10px 30px black;
    padding: 10px 40px;
    border-left: 10px solid;
    border-image: linear-gradient( rgb(255, 166, 0),purple) 30;;
    border-radius: 15px;
}
.hover-1:hover{
    
    background-image: linear-gradient(rgb(138, 172, 148),whitesmoke);
    text-align: center;
}
.hover-2:hover{
    background-image: linear-gradient(rgb(179, 189, 145),whitesmoke);
    text-align: center;
}
a:hover{
    background-image: linear-gradient(rgb(255, 136, 0),rgb(92, 59, 29));
}
#footer{
    text-align:center;
    font-weight:100;
}